
h2 {
  padding-top: 30px;
}

.todo {
    border: 2px solid #ccc;
    margin-top: 10px;
    width: 500px !important;
    max-width: 100%;
    border-radius: 0.25em;
    padding: 10px;
}
.todo-section {     
    max-width: 100%;
    width: 450px;
    margin: auto;
}

.mrt-20{
margin-top: 20px;
}

.create-todo-div h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: green;
    font-size: 35px;
}

.list-todo-div h4 {
padding-bottom: 30px;
color: darkslategray;
font-size: 20px;
}

.list-todo-div .input-lg {
    font-size: 20px !important;
    margin: 0px 20px 0px 20px !important;
    background-color: #fff;
    color: #000;
    border-radius: 0.25em;
}

.create-todo-input{
    width: 450px;
    max-width: 100%;
    background-color: lightgreen;
    border: 1px solid black;
    color: #000;
    border-radius: 0.25em;
    font-size: 20px !important;
    padding: 10px;
}

.create-todo-div{
    padding-bottom: 20px;
}

.help-block{
    margin-left: 15px;
}

.glyphicon {
    font-size: 25px;
}
